<h1>Listing chatrooms</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chatrooms.each do |chatroom| %>
  <tr>
    <td><%= link_to 'Show', chatroom %></td>
    <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>
    <td><%= link_to 'Destroy', chatroom, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chatroom', new_chatroom_path %>
