<h1><%= game_index_list(params) %></h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
