// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#game {
	width: 1200px;
	margin: 0 auto;
	>div {
		display: inline-block;
		vertical-align: top;
	}
	div#orders {
		&>h3 {
			display: inline;
		}
		div.submit-status {
			display: none;
		}
    textarea.confirmed {
      color: green;
    }
    textarea.unconfirmed {
      color: orange;
    }
    textarea.error {
      color: red;
    }
	}
}

.hide {
  display: none;
} 
