// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#orders {
	div.submit-status {
		display: none;
	}
  textarea {
    width: 80%;
  }
  textarea.confirmed {
    color: green;
  }
  textarea.unconfirmed {
    color: orange;
  }
  textarea.error {
    color: red;
  }
}

#players {
  b {
    width: 5em;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  tr td:last-of-type span {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.hide {
  display: none;
}
